/* Circular buttons */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 4px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-settings {
    background: #607d8b;
    color: #fff;
}

.btn-settings:hover {
    background-color: #6b8a99!important;
    color: #fff;
}
/* link circle */
.link-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding:4px 5px 7px 6px;
    margin-top:4px;
}

.link-circle:hover, .link-circle:active:hover {
    border-radius: 50%;
}

/* modal window*/
.modal-content {
    border-radius: 6px;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
}

/* custom styling */
#survey-creation, #publish-survey-container {
    margin-top: 50px;
}

.main-controls {
    position: fixed;
    right: 0;
    top: 50%;
    width: 6em;
    margin-top: -9.5em;
}

.input-title-lg, .modal-header-label, .close {
    font-size: 20px !important;
}

.btn-toolbar {
    margin-top: 7px;
}

.options-container input[type="radio"],
.checkboxes-container input[type="checkbox"] {
    position: absolute !important;
    margin-top: 13px !important;
}

.options-container input[type="text"],
.checkboxes-container input[type="text"],
.scale-container input[type="text"] {
    font-size: 12px;
    display: inline;
    width: 300px;
}

.panel-active {
    box-shadow: 0 1px 4px #9c27b0;
}

.question-number {
    background-color: #f5f5f5;
    padding: 5px 8px;
    border: 1px solid #e4e4e4;
    margin: -5px -5px 0 0;
}

.scale-label {
    padding-right: 10px;
}

.scale-select {
    width: auto !important;
}

.select-label {
    padding-top: 5px;
    font-size: 16px;
}

.move-to-menu {
    min-width: 40px;
}

.move-to-menu.dropdown-menu>li>a {
    padding: 3px 14px;
}

.form-inline {
    display: inline-block;
    width: auto;
}

.left-element {
    margin-left: 10px;
}

.grid-legend {
    padding: 5px;
    margin-bottom: 0;
}

.grid-row-label {
    margin-left: 25px;
}

.grid-column-label {
    margin-left: 10px;
}

.add-grid {
    margin-left: 95px;
}

.survey-question {
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
}

.required-question {
    background-color: #ffebee;
}

.required-label {
    color: #db4437;
    font-size: 13px;
}

.control-button {
    margin-left: 5px;
}

.question-container {
    margin-top: 10px;
}

.publish-row {
    text-align: center;
}

.publish-row-label {
    margin-top: 10px;
}

.question-container .DraftEditor-editorContainer {
    min-height: 150px;
}

.survey-description {
    font-size: 15px;
    margin-bottom: 10px;
}

.short-answer {
    border: 1px solid #e5e5e5 !important;
    margin-top: 30px;
}

#survey-questions .panel-body {
    min-height: 150px;
}
